body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #1c1c1c;
  color: #fbfbfb;
}

.title {
  width: 550px;
  margin: 0 auto;
  height: 100px;
}

.icon {
  background: #fbfbfb;
}

.icon:hover {
  transform: none;
}

h1 {
  font-size: 3.8em;
  font-weight: 800;
  float: right;
  width: 400px;
}

header nav {
  list-style: none;
  margin: 40px 0;
  padding-bottom: 25px;
}

header li {
  display: inline-block;
  margin: 0 20px;
  padding: 15px 20px;
  letter-spacing: 1.2px;
  font-weight: 800;
  color: #e1e1e1;
}

header li:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.navbar {
  width: 800px;
  text-align: center;
}

.nav-link {
  color: #e1e1e1;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration-style: underline;
}

/* ================== */
/* MAIN CONTENT */
/* ================== */

main {
  margin: 0 auto;
  text-align: center;
}

.about-info-content {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 10px;
}

.about-text {
  float: left;
  margin-left: 200px;
}

.about-fact {
  text-align: center;
  font-size: 1.2em;
  opacity: 0.8;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: left;
}

main button {
  padding: 15px;
  margin: 100px 0;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 800;
}

main button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
  border: 3px solid #333;
}

.pattern-wrap {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231c1c1c' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border: 1px solid #e1e1e1;
}

.list-wrapper {
  margin: 0px 0 30px 0;
  padding-top: 50px;
  /* max-height: 600px; */
}

.shows,
.movies {
  margin: 40px 20px;
  width: 520px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 20px #333;
  background-color: #fbfbfb;
  display: inline-block;
  height: 270px;
}

section h2 {
  text-align: left;
  margin-bottom: 0;
}

.list-wrapper hr {
  width: 40px;
  height: 5px;
  margin: 13px 0 0 0;
  background: #1c1c1c;
  border: none;
  border-radius: 2px;
}

.shows section,
.movies section {
  display: inline-block;
}

section ul {
  width: 300px;
  margin-right: 0px;
  display: inline-block;
  text-align: left;
  padding-inline-start: 20px;
}

main li {
  line-height: 30px;
}

section img {
  margin-top: 30px;
  border-radius: 5px;
}

section img:hover {
  transform: scale(1.4);
}

iframe {
  margin: 0 auto 120px auto;
  display: block;
}

/* =================== */
/* FOOTER */
/* =================== */

footer {
  height: 20vh;
  background-color: #333;
  text-align: center;
  padding-top: 30px;
}

footer p {
  color: #e1e1e1;
}
