body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
  margin: 40px;
}

header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #1c1c1c;
  color: #fbfbfb;
}

.title {
  width: 550px;
  margin: 0 auto;
  height: 100px;
}

.icon {
  background: #fbfbfb;
}

.icon:hover {
  transform: none;
}

h1 {
  font-size: 3.8em;
  font-weight: 800;
  float: right;
  width: 400px;
}

header nav {
  list-style: none;
  margin: 40px 0;
  padding-bottom: 25px;
}

header li {
  display: inline-block;
  margin: 0 20px;
  padding: 15px 20px;
  letter-spacing: 1.2px;
  font-weight: 800;
  color: #e1e1e1;
}

header li:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.navbar {
  width: 800px;
  text-align: center;
}

.nav-link {
  color: #e1e1e1;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration-style: underline;
}

/* ================== */
/* MAIN CONTENT */
/* ================== */

main {
  margin: 0 auto;
  text-align: center;
}

.about-info-content {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 90px;
}

.about-text {
  float: left;
  margin-left: 200px;
}

.about-fact {
  text-align: center;
  font-size: 1.2em;
  opacity: 0.8;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: left;
}

main button {
  padding: 15px;
  margin: 30px 0;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

main button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
  border: 1px solid #333;
}

.list-wrapper {
  margin: 0px 0 30px 0;
  /* max-height: 600px; */
}

.shows,
.movies {
  margin: 40px 20px;
  width: 520px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 0 20px #333;
  background-color: #fbfbfb;
  display: inline-block;
  height: 250px;
}

section h2 {
  text-align: left;
  margin-bottom: 0;
}

.shows section,
.movies section {
  display: inline-block;
}

section ol,
section ul {
  width: 300px;
  margin-right: 0px;
  display: inline-block;
  text-align: left;
}

main li {
  line-height: 30px;
}

section img {
  margin-top: 30px;
  border-radius: 5px;
}

section img:hover {
  transform: scale(1.4);
}

iframe {
  margin: 0 auto 50px auto;
  display: block;
}

/* =================== */
/* FOOTER */
/* =================== */

footer {
  height: 20vh;
  background-color: #333;
  text-align: center;
  padding-top: 30px;
}

footer p {
  color: #e1e1e1;
}
